<div class="content">
    <md-card elevation="5">
        <md-card-subtitle>
            <h2>RU Membership Login Crappy Temp Screen</h2>
        </md-card-subtitle>
        <md-card-title>
            <h2>{{title}}</h2>
        </md-card-title>
        <md-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <md-input formControlName="username" required placeholder="Username"></md-input>
                <md-input formControlName="password" required type="password" placeholder="Password"></md-input>
                <button type="submit" [disabled]="!loginForm.valid" md-raised-button color="primary">Login</button>
            </form>
            <md-spinner *ngIf="submitted" mode="indeterminate"></md-spinner>
            <p class="error" *ngIf="errorDiagnostic">{{errorDiagnostic}}</p>
            <br>
            <hr>
            <button (click)="register()" md-raised-button color="accent">Register</button>
        </md-card-content>
    </md-card>
</div>