extends layout

block content
  h1= title
  p Make a new UserRole :)

  h2 Create a new UserRole
  form(action="/userRoles/create", method="post")
    input(type="text", name="username")
    input(type="submit")

  h2 userRoles

  ul
  each userRole in userRoles
    li
      = userRole.name 
      = ' '
      a(href="/userRoles/" + userRole.id + "/destroy") Destroy