<md-sidenav-layout>
    <md-sidenav #sidenav>
        <div *ngIf="loggedIn" id="user-profile">
            <img [attr.src]="profile_picture" />
            <p>{{name}}</p>
            <p>{{username}}</p>
        </div>
        <div *ngIf="!loggedIn">
            <img [attr.src]="no_user" />
            <p>Login:</p>

            <button md-raised-button [routerLink]="['/login']" color="accent">Register</button>
        </div>

        <md-nav-list (click)="sidenav.close()">

            <a md-list-item [routerLink]="['/']">
                <span md-line>Users</span>
                <span md-line class="secondary">Most recently logged in users</span>
            </a>
            <a md-list-item [routerLink]="['/heroes']">
                <span md-line>Heroes</span>
                <span md-line class="secondary">Hero registry</span>
            </a>
            <a md-list-item (click)="logout()">
                <span md-line>Logout</span>
            </a>

        </md-nav-list>
    </md-sidenav>

    <md-toolbar color="primary">
        <button md-icon-button (click)="sidenav.open()">
      <md-icon>menu</md-icon>
    </button>
        <h2>Reading Ultimate</h2>
    </md-toolbar>

    <div class="content">
        <md-card elevation="5">
            <md-card-title>
                <h2>{{title}}</h2>
            </md-card-title>
            <md-card-subtitle>
                <h2>This doesn't work</h2>
            </md-card-subtitle>
            <md-card-content>
                <p>This doesn't work. It's only here to fill the page out a bit</p>
                <!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">-->
                <md-input required placeholder="Username"></md-input>
                <md-input required type="password" placeholder="Password"></md-input>
                <button type="submit" md-raised-button color="primary">Login</button>
                <!--</form>-->
                <md-spinner *ngIf="submitted" mode="indeterminate"></md-spinner>
                <p class="error" *ngIf="errorDiagnostic">{{errorDiagnostic}}</p>
                <br>
                <hr>
                <button (click)="register()" md-raised-button color="accent">Register</button>
            </md-card-content>
        </md-card>
    </div>

</md-sidenav-layout>