<md-card elevation="5">
    <md-card-subtitle>
        <h2>
            RU Membership Temp Register
        </h2>
    </md-card-subtitle>

    <md-card-content>
        <h2>Create an account</h2>
        <form *ngIf="!submitted" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <md-input formControlName="name" required placeholder="Name"></md-input>
            <md-input formControlName="username" required placeholder="Username"></md-input>
            <md-input formControlName="email" required placeholder="example@email.com"></md-input>
            <md-input formControlName="password" required type="password" placeholder="Password"></md-input>
            <button type="submit" [disabled]="!registerForm.valid" md-raised-button color="primary">Register</button>
        </form>
        <md-spinner *ngIf="submitted" mode="indeterminate"></md-spinner>
        <p class="error" *ngIf="errorDiagnostic">{{errorDiagnostic}}</p>
        <br>
        <hr>
        <!--   <button (click)="login()" md-raised-button color="accent">Login</button>-->
    </md-card-content>
</md-card>